# Database
spring.datasource.url=jdbc:postgresql://db:5432/zadachok_db?currentSchema=tp
spring.datasource.username=zadachok
spring.datasource.password=${DB_PASSWORD}

spring.jpa.properties.hibernate.default_schema=tp
spring.jpa.hibernate.ddl-auto=update

# JWT
jwt.secret=${JWT_SECRET}
jwt.expiration=86400000

# Server
server.port=${SERVER_PORT}

# Profile
spring.profiles.active=${SPRING_PROFILES_ACTIVE}
